td {  
	text-align: "center";
}

td.data {
	text-align: center;
}

button {
    background-color: light-grey;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 450;
    display: inline-block;
    font-size: 16px;
} 
