h1 {
	text-align: center;
}
button {
    background-color: light-grey;
    border: none;
    color: black;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 450
} 
